@import "tailwindcss";

@layer base {
  h1, h2, h3 {
    font-family: "Sora", Arial, sans-serif;
  }
  body {
    background-color: #0c1018;
    color: #fefefe;
    font-family: "Manrope", Arial, sans-serif;
    font-size: 15px;
  }
}

@theme {
  --color-main: #7095FF;
  --color-accent: #AAC1FF;
  --color-line: #181F2C;
  --color-text: #C7D3E9;
  --color-text-secondary: #B4BFD0;
  --color-text-button: #07111E;
  --color-button-hover: #243854;
  --color-background-card: #172132;
  --color-border-card: #42577B;
}